.row {
  width: 100%;
  margin: 0px;
  margin-left: 5px;
  line-height: 200px;
  height: 200px;
}

.col-md-2 {
  overflow: auto;
  padding: 0px;
}

.image {
  cursor: pointer;
}

.top {
  height: 20px;
  line-height: normal;
  border-bottom: 1px solid black;
}
